receivers:
  smtp:
    from: "hkvisor <hkvisor@example.com>"
    to: "user@example.com"
    server: "smtp.example.com"
    port: 465
    username: "user@example.com"
    password: "password"

cameras:
  - name: "IP Camera 1"
    ip_address: "127.0.0.1"
    username: "user"
    password: "pass"
